#Contact{
    background-color: white;
    margin-top: 20px;
    border-radius: 7px;
    width: 90%;
  }

  #entire{
    margin-top: 30px;
    margin-bottom: 75px;
  }

#form{
  padding: 20px;
}

.messageHeader{
  font-family: 'Archivo Narrow', sans-serif;
  color: white;
}