*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#pic{
    height: 200px;
    width: 200px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

.jumbo{
    background: url("../assets/Images/background.PNG");
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height:100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index:0;
    /* background-size: cover; */
}

#content{
    color: white;
    font-weight: bold;
    border: none;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

#portBtn{
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px 20px 10px 20px;
    margin-right: 20px;
}

#tactBtn{
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px 20px 10px 20px;
    margin-left: 20px;
}

#folio{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

#connect{
    background-color: black;
}

#aboutsection{
    padding-top: 20px;
    padding-bottom: 20px;
}
