#main{
    background-color: transparent;
    margin: 20px auto 75px auto;
    width: 100%;
    text-align: center;
}

.heading{
    font-family: 'Archivo Narrow', sans-serif;
}

/* #projectrow{
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
} */