body{
    background-color: orangered;
    position: relative;
    padding-bottom: 80px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.icons{
    color: orangered;
}

#github{
    margin-right: 5px;
}

#linkedin{
    margin-left: 5px;
}