body{
    background-color: orangered;
    min-height: 100vh;
    position: relative;
    padding-bottom: 80px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.fa-github{
    color: orangered;
    margin-right: 5px;
}

.fa-linkedin-square{
    color: orangered;
    margin-left: 5px;
}